= f.hidden_field :game_key, :value => game.game_key
/ .row
/   .large-8.small-8.columns
/     Make Your Bet:
/     - range = @game.user.bet_range
/     %p== (#{range[:min]}m฿ - #{range[:max]}m฿)
/   .large-4.small-4.columns
/     = f.text_field :bet, :size => 5
/     m฿
.title.clear
  %p Make your bet (Maximum is 50)
  %span= f.text_field :bet
.increments
  .minus#minusMilli
    = "- 1m฿"
  .minus#minusMilliTen
    = "- 10m฿"
  .plus#plusMilliTen
    = "+ 10m฿"
  .plus#plusMilli
    = "+ 1m฿"
    
.bet-choice
  = submit_tag Game::RED, :class => 'red-bet-btn', :id => "red"
  = submit_tag Game::BLACK, :class => 'black-bet-btn', :id => "black"
    
