= f.hidden_field :game_key, :value => game.game_key
/ .row
/   .large-8.small-8.columns
/     Make Your Bet:
/     - range = @game.user.bet_range
/     %p== (#{range[:min]}m฿ - #{range[:max]}m฿)
/   .large-4.small-4.columns
/     = f.text_field :bet, :size => 5
/     m฿
.title.clear
  %p Make your bet (Maximum is 50)
  -# Set a hidden field if we submit because of pressing Enter on the bet field; val has to match controller
  %span= f.text_field :bet, :onclick => "$('#clicked_on').val('amount')"
.increments
  .minus#halfMilli
    = "1/2"
  .minus#minusMilli
    = "- 1m฿"
  .plus#plusMilli
    = "+ 1m฿"
  .plus#doubleMilli
    = "2x"
    
.bet-choice
  = submit_tag Game::RED, :class => 'red-bet-btn', :id => "red"
  = submit_tag Game::BLACK, :class => 'black-bet-btn', :id => "black"
  = hidden_field_tag :clicked_on, nil
