= f.hidden_field :game_key, :value => game.game_key
- for x in 1..5 do
  -# Show the first one, hide 2-5; these will fade in/out using JS
  - progress = 1 == x ? "" : 'bet-progress'
  - game_progress = (x > 1 and x < 5) ? game.mid_game_progress[x - 2] : ""
  .row{:id => "progress#{x}", :class => "title clear #{game_progress} #{progress}"}  
    .large-6.column.bet-box Make your bet (Maximum is 50)
    - if 5 == x
      .large-6.column.payout-announcer= @payout 
    - else
      .large-6.column.no_announcer
    .make_bet= f.text_field :bet, :class => 'game_bet', :onclick => "$('#clicked_on').val('amount')"
.increments
  .minus#halfMilli
    = "1/2"
  .minus#minusMilli
    = "- 1m฿"
  .plus#plusMilli
    = "+ 1m฿"
  .plus#doubleMilli
    = "2x"
.bet-choice
  = submit_tag Game::RED, :class => 'red-bet-btn', :id => "red"
  = submit_tag Game::BLACK, :class => 'black-bet-btn', :id => "black"
  = hidden_field_tag :clicked_on, nil
