= f.hidden_field :game_key, :value => game.game_key
.row
  .large-2.small-2.columns
    = submit_tag Game::RED, :class => 'button radius alert', :id => "red"
  .large-2.small-2.columns
    .button.alert.radius.tiny#minusMilli
      = "- 1 m฿"
  .large-2.small-2.columns
    .button.alert.radius.tiny#minusMilliTen
      = "- 10 m฿"
  .large-2.small-2.columns
    .button.tiny.radius#plusMilli
      = "+ 1 m฿"
  .large-2.small-2.columns
    .button.tiny.radius#plusMilliTen
      = "+ 10 m฿"
  .large-2.small-2.columns
    = submit_tag Game::BLACK, :class => 'button radius small', :id => "black"
  .row
    .large-12.small-12.columns
      BET:
      = f.text_field :bet, :size => 5
      m฿
