.large-4.columns
  %dl.tabs{"data-tab" => ""}
    %dd.active
      %a{href: "#panel2-1"} Bitcoin
    %dd
      %a{href: "#panel2-2"} Game Info
  .tabs-content
    #panel2-1.content.active
      .tabs-section
        %h3 Save this URL, do not share
        %span.disclaimer (it uniquely identifies you -- and your balance)
        #bookmark
          %a{href: "#"} #{request.protocol}#{request.host_with_port}#{request.fullpath}
      .tabs-section
        %h1 Balance
        %h2.oldbalance
          #satoshibalance
            -if ! @old_balance.nil?
              =@old_balance.as_satoshi
            - else
              = current_user.balance.as_satoshi
        %h2.mbBalance
          #btcbalance
            - if @old_balance.nil?
              ==#{ (current_user.balance.as_mb).round(3)} m฿
        #progress
          %span.progress-text
          .progress-bar
        -#= render :partial => 'games/balance', :locals => { :satoshi_balance => current_user.balance }
        -# = render :partial => 'games/balance', :locals => { :satoshi_balance => @old_balance }
        %h2.winnings
          -if !@game.payout.nil?
            .span2
              #announcer
                %h3 Good Luck
              - notes = @game.mid_game_notes
              %h3
                .midgame#announcer2= notes[0]
              %h3
                .midgame#announcer3= notes[1]
              %h3
                .midgame#announcer4= notes[2]
              #winbox
                - if @game.payout != 0
                  = hidden_field_tag :payout, (@game.payout * 100000).round
                - if @game.payout > 0
                  %h3 WIN #{@game.payout}
                - else
                  %h3 LOSE #{@game.payout}
      .tabs-section
        %h3 Send Bitcoin to address
        %span.disclaimer (update this as many times as needed)
        = render :partial => 'games/fund_account'
      // This will get moved to main game section
    #panel2-2.content
      - if !@new_game.nil?
        .tabs-section
          %h3 MD5 Hash for next game:
          %br
          %span.disclaimer= @new_game.game_key
        .tabs-section
          .hash#hash
            %h3 Key for this game:
            %br
            %span.disclaimer= @game.security_code
      .tabs-section.clear
        %h3 Jokers
        .card.joker
        .card.joker
