-# Displayed for a "new" game -- no bet yet
.container
  %section.games-hero
    .row
      - range = @game.user.bet_range
      = hidden_field_tag :min_bet, range[:min]
      = hidden_field_tag :max_bet, range[:max]
      = render :partial => 'games/sidebar'
      .large-8.columns
        -# .game-alerts
        -#   .row
        -#     .large-12.columns
        -#       .panel.callout.radius
        .game-container
          .row
            .large-12.columns
              - for i in 1..5 do
                .large-2.columns.cardarea
                  .card.card-back{:id => "card#{(i)}"}
        .game-controls
          = form_for @game do |f|
            = render :partial => 'games/bet_fields', :locals => { :f => f, :game => @game }
= render :partial => 'games/qrcode'