!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title HudaCard! Red or Black?
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{:content => "", :name => "Red or Black?"}/
    = stylesheet_link_tag "application", :media => "all" 
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags 
    = render 'layouts/application/shim'
  %body
    = render 'layouts/application/header'
    = render 'shared/flash_messages'
    = yield
    = javascript_include_tag "application"
